<!DOCTYPE html>
<html>
  <head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/js/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/css/epoch.min.css"/>
    <script src="/js/epoch.min.js"></script>
    <script src="//cdn.pubnub.com/pubnub.min.js"></script>
  </head>
  <body>
    <script>
      var pubnub = PUBNUB.init({
        publish_key:   'pub-c-ee09f7e5-2bdf-4573-ac06-6148cf772de6',
        subscribe_key: 'sub-c-0672ac1e-35f1-11e4-afa1-02ee2ddab7fe'
      });
    </script>
    <%=yield%>
  </body>
</html>
