<div id="pie" class="epoch" style="width: 400px; height: 400px"></div>
<script>
  pubnub.subscribe({
    channel: 'iot_hackathon',
    message: function() {
      pubnub.history({
        channel: 'iot_hackathon',
        count: 100,
        callback: update_main
      });
    }
  });

  function update_main(pubnub_response) {
    // response looks like [payloads, end_token, start_token]
    // c.f. http://www.pubnub.com/docs/javascript/tutorial/storage-playback.html
    msgs = pubnub_response[0];
    EPOCH_OBJECTS.pie.update(compute_aggregate_preference(msgs));
  }

  function compute_aggregate_preference(msgs) {
    var msg, ii, latest_prefs;
    latest_prefs = {}; 
    // Get the latest prefs per device_id
    for (ii = 0; ii < msgs.length; ii++) {
      msg = msgs[ii];
      latest_prefs[msg.device_id] = msg.pref;
    }
    // Tally up the count
    var louder_count = 0, quieter_count = 0;

    for (device_id in latest_prefs) {
      if (latest_prefs[device_id] > 0) {
        louder_count += 1;
      } else {
        quieter_count += 1;
      }
    }

    return [
      { label: "Louder please!", value: louder_count },
      { label: "Quieter please!", value: quieter_count }
    ];
  };


  // initializing stuff
  var EPOCH_OBJECTS = {
    pie: $("#pie").epoch( { type: "pie", data: [ { label: ":-)", value: 1 } ] } )
  }
</script>
